.user-component__subtitle .fa-exclamation-circle {
  color: var(--main-color);
  margin-left: 8px;
}

.more-screen .icon-row {
  margin-top: 50px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color-gray);
  margin-bottom: 30px;
}

.more-suggestions__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-img {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-img i {
  font-size: 32px;
  color: white;
}
