.singer-song {
  height: 300px;
  padding: 0px var(--horizontal-space);
  overflow-y: scroll;
}

.singer-song__list {
  padding: 15px var(--horizontal-space);
  color: rgb(141, 181, 211);
  display: flex;
  align-items: center;
  border-radius: 13px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.singer-song__list:hover {
  color: rgb(59, 94, 189);
  background-color: white;
  box-shadow: 0 0 15px rgba(59, 94, 189, 0.3);
}

.singer-song__list:first-child {
  margin-top: 20px;
}

.singer-songe__img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(141, 181, 211, 0.5);
}

.singer-song__singer-name {
  font-size: var(--font-size-small);
  margin-bottom: 6px;
}

.signer-song__song-title {
  font-weight: 600;
}

.fa-ellipsis-v {
  position: absolute;
  right: var(--horizontal-space);
}
